   <br>
<h1>CommandLua</h1>


<h2>Contents</h2>
<ul>
<li><a href="#Selector">Selector</a></li>
<li><a href="#Wrapper_Descriptor">Wrapper/Descriptor</a></li>
<li><a href="#Data_types">Data types</a></li>
<li><a href="#Notes">Notes</a></li>
<li><a href="#Functions">Functions</a></li>
<li><a href="#Tables">Tables</a></li>
</ul>


<h2>Reference</h2>
<ul>
  <li><strong>ScenEdit</strong></li>
</ul>
<h2>Topics</h2>
<ul>
  <li><a href="/">01-getting-started</a></li>
  <li><a href="/">02-creation</a></li>
  <li><a href="/">98-event_handling</a></li>
  <li><a href="/">99-code-examples</a></li>
</ul>
<h2>Examples</h2>
<ul>
  <li><a href="/">mission1.lua</a></li>
  <li><a href="/">scenedit_addunit.lua</a></li>
  <li><a href="/">scenedit_mission.lua</a></li>
</ul>
       